<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_for([post, comment]) do |f| %>
      <div class="form-group">
        <%= f.text_area :content, class: 'form-control', placeholder: 'コメントを書く', rows: 7 %>
      </div>
      <%= f.submit '送信', class: 'btn btn-outline-dark btn-block' %>
    <% end %>
  </div>
</div>