<% if logged_in? %>
  <div class="col-md-6 offset-md-3">
    <%= render 'posts/posts', posts: @posts %>
  </div>
<% else %>
  <% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>北欧のこと</h1>
        <h1>聞こう。答えよう。</h1>
          <%= link_to '登録する', signup_path, class: 'btn btn-light btn-lg' %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>