<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>北欧のこと</h1>
        <h1>聞いてみる。答えてみる。</h1>
        <a href="" class="btn btn-light btn-lg">登録する</a>
      </div>
    </div>
  </div>
<% end %>